@import "tailwindcss";

@font-face {
  font-family: "pricedown";
  src: url("./pricedown.otf");
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "pricedown";
}
/* In your global CSS (like index.css or App.css) */
html,
body {
  height: 100%;
  margin: 0;
  background-color: black;
}
